.em {
  font-family: var(--font-tan);
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .em {
    font-size: 2.9vw;
  }
}

@media screen and (min-width: 1200px) {
  .em {
    font-size: 38px;
  }
}