.pointer {
    position: absolute;
    bottom: 0;
    color: black;
    cursor: pointer;
    transition: filter 0.5s;
}

.pointer:hover {
    filter: invert(50%);
}

.pointerImg {
    display: block;
    margin: 0 auto;
}